<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand " href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/book">Booking</a>
        </div>
        <div class="navbar-nav ml-auto">
          <a class="nav-link active" aria-current="page" href="/Login">Log in</a>
          <a class="nav-link" href="/Register">Register</a>
          <a class="nav-link" href="/Logout">Logout</a>
        </div>
      </div>
    </div>
</nav>

  <script src="https://cdn.jsdelivr.net/npm/annyang@2.6.1/dist/annyang.min.js"></script>

  <!-- <script>
    if (annyang) {
      // Define commands for navigation
      var navigationCommands = {
        'go to home': function() {
          window.location.href = '/';
        },
        'go to booking':function() {
          window.location.href='/book';
        },
        'go to login':function() {
          window.location.href='/login';
        },
        'go to register':function() {
          window.location.href='/register';
        },
        'logout': function() {
          Window.location.href='/logout';
        }
      };
      annyang.addCommands(navigationCommands);
      annyang.start();
    }
</script> -->