<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script  crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script crossorigin="anonymous" src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet">
</head>
<body class=" d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
    <main class="container mt-5">
    <%-body%>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
    <!-- <script src="/javascripts/validateForms.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/annyang@2.6.1/dist/annyang.min.js"></script>
    <script>
    function speak(text) {
    const utterance = new SpeechSynthesisUtterance(text);
    window.speechSynthesis.speak(utterance);
}

if (annyang) {
    // Define commands to fill the form fields and give voice feedback
    const stationMapping = {
        'bhopal': 'BHOPAL JN',
        'indore': 'INDORE JN',
        'jabalpur': 'JABALPUR',
        // Add more mappings as needed
    };
    var navigationCommands = {
        'go to home': function() {
          window.location.href = '/';
        },
        'go to booking':function() {
          window.location.href='/book';
        },
        'go to login':function() {
          window.location.href='/login';
        },
        'go to register':function() {
          window.location.href='/register';
        },
        'logout': function() {
          Window.location.href='/logout';
        }
      };
    var commands = {
        'Login name is *n': function(n) {
            document.getElementById('username').value = n;
            speak('Username set to ' + n);  // Voice feedback
        },
        'My password is *p':function(p){
            document.getElementById('password').value=p;
            speak('password set'); 
        },
        'Login': function() {
            document.getElementById('loginForm').submit();
            speak('You are Logined Succesfully');  // Voice feedback
        }
    };
    var registercommands = {
        'set username to *name': function(name) {
            document.getElementById('username').value = name;
            console.log(name);
            speak('Username set to ' + name);  // Voice feedback
        },
        'set email to *email': function(email) {
            document.getElementById('email').value = email;
            speak('Email set to ' + email);  // Voice feedback
        },
        'set password to *password': function(password) {
            document.getElementById('password').value = password;
            speak('Password set to ' + password);  // Voice feedback
        },
        'submit registration form': function() {
            document.getElementById('registerForm').submit();
            speak('Registration form submitted');  // Voice feedback
        }
    };
    const bookingCommands = {
        'set from station to *fromStation': function(fromStation) {
            const standardizedFrom = stationMapping[fromStation.toLowerCase()];
            if (standardizedFrom) {
                document.getElementById('from').value = standardizedFrom;
                speak(`From station set to ${standardizedFrom}`);
            } else {
                speak(`Sorry, I did not recognize the station "${fromStation}". Please specify again.`);
            }
        },
        'set destination to *toStation': function(toStation) {
            const standardizedTo = stationMapping[toStation.toLowerCase()];
            if (standardizedTo) {
                document.getElementById('to').value = standardizedTo;
                speak(`To station set to ${standardizedTo}`);
            } else {
                speak(`Sorry, I did not recognize the station "${toStation}". Please specify again.`);
            }
        },
        'set date to *date': function(date) {
            document.getElementById('date').value = date;
            speak(`Date set to ${date}`);
        },
        'set class preference to *preference': function(preference) {
            const classMapping = {
                'first AC': '1A',
                'second AC': '2A',
                'third AC': '3A',
                'sleeper': 'SL',
                'chair car': 'CC',
                'all classes': ''
            };
            document.getElementById('preference').value = classMapping[preference.toLowerCase()] || '';
            speak(`Class preference set to ${preference}`);
        },
        'submit booking form': function() {
            document.querySelector('form').submit();
            speak('Booking form submitted');
        }
    };
    annyang.addCommands(commands);
    annyang.addCommands(navigationCommands);
    annyang.addCommands(registercommands);
    annyang.addCommands(bookingCommands);
    annyang.start();
} else {
console.log('annyang not supported in this browser');
}
    </script>
</body>
</html>