<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Book Ticket</h1>
    <div class="col-md-6 offset-md-3">
        <div class="mb-6">
            <div class="form-floating">
                <select class="form-select" id="to" name="to">
                  <option selected>To</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <label for="to"></label>
            </div>
        </div>
        <div class="mb-6">
            <div class="form-floating">
                <select class="form-select" id="from">
                  <option selected>From</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <label for="from"></label>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-6">
            <label for="date">Date of travel</label>
            <input type="date" id="date" name="data" value=""/>
        </div>
        <div class="mb-6">
            <div class="form-floating">
                <select class="form-select" id="preference">
                  <option selected>All Classes</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <label for="preference"></label>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success">Success</button>
</div>

